body {
    background-color: rgb(49, 132, 143);
  }
  h1 {
    color: rgb(54, 54, 54);
  }
  p {
    color: rgb(78, 77, 77);
  }
  
  p.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
  }

  /*Next button*/
  button.css-1cpxqw2{
    background-color:rgba(111, 111, 111, 0.018);
    padding-right: 30px;
    padding-left: 30px;
    right: -1020px;
    position: relative
  }

/*Right center compare button: Label and square
div.css-1djdyxw.ek41t0m0{
  left: 130px;
  display: inline-block;
  position: relative;
  top: 2px
}
span.st-ev {
  left: 225px;
  position: relative;
}


div.css-v561tt{
  gap: 0rem;
}
div.css-ocqkz7{
  gap: 0rem;
}
div.css{
  gap: 0rem;
}
div.css-1l0ei5a{
  gap: 0rem;
}
div.css-ib6r8f{
  gap: 0rem;
}
div.css-1a7jz76{
  gap: 0rem;
}

*/

/*
div.css-znku1x{
  position: relative;
  top: -50px;
}
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #5CA4EA;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #b3e7b1;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: rgb(184, 244, 214);
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4fda58;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}
*/