body {
    background-color: powderblue;
  }
  h1 {
    color: rgb(54, 54, 54);
  }
  p {
    color: rgb(78, 77, 77);
  }
  
  p.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
  }